# Example .env File
# Rename this file to .env and fill in the values for the environment variables

# Port number for the express server
PORT_NUMBER = XXXX

# Postgres database connection settings:
# If using postgres on a docker container, and not locally, the host name should match with the service name for the database in the docker-compose.yml file. Else, change this to 'localhost':
POSTGRES_HOST_NAME = 'pg_db'

POSTGRES_DATABASE_NAME = 'db_name_here'
POSTGRES_USER_NAME = 'db_username_here'
POSTGRES_PORT_NUMBER = XXXX
POSTGRES_PASSWORD = 'your_password_here'

# Frontend application URL, from which CORS will be allowed
FRONT_END_URL = ''
